<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://assets.iu.edu/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  {{ if .Page.Description }}
  <meta name="description" content="{{ .Page.Description }}" />
  {{ else }}
  <meta name="description" content="{{ .Site.Params.description }}" />
  {{ end }}
  <title>{{if ne .URL "/"}}{{ .Page.Title | markdownify | plainify }} - {{ end }}IU Mobile</title>
  <link rel="stylesheet" href="/css/style.css?v={{ now.Unix }}" />
</head>