{{ define "main" }}
<section class="rvt-bg-right-gray">
  <div class="rvt-container rvt-container--senior rvt-container--center">
    <div class="rvt-grid rvt-items-center rvt-p-left-md">
      <div class="rvt-grid__item-6-lg-up rvt-p-right-xxl">
        <span class="rvt-badge rvt-badge--danger rvt-m-bottom-sm">Beta</span>
        <h1 class="rvt-text-bold rvt-ts-32">A new mobile experience for IU.</h1>
        <p class="rvt-m-bottom-lg">University users expect native mobile applications, not just progressive web apps or responsive web pages.
          We want to do things on our phones that are fully featured, easy to use,&nbsp;and easy to&nbsp;find. We expect these apps in the Apple&nbsp;and
          Google app stores.&nbsp;We&nbsp;are addressing these expectations by replacing the&nbsp;current application named “IU Mobile” with a new application
          cleverly named&nbsp;“IU Mobile.” It will focus on delivering a more holistic experience and deliver unique experiences to users of
          different campuses and&nbsp;affiliation types.</p>
        <div class="rvt-display-flex rvt-m-bottom-lg">
          <div href="#"><img class="market-store-icon" src="/img/badge-example-preferred.png" alt="Download on the app store" /></div>
          <div class="rvt-m-left-sm" href="#"><img class="market-store-icon" src="/img/google-play-badge.png" alt="Get it on google play" /></div>
        </div>
      </div>

      <div class="rvt-grid__item-6-lg-up rvt-bg-light-gray">
        <img src="/img/home-banner.png" alt="An iphone showing an example of the A bus route." class="home-banner-image" />
      </div>
    </div>
  </div>
</section>

<section class="rvt-bg-crimson rvt-p-top-xxl">
  <div class="rvt-container rvt-container--senior rvt-container--center">
    <div class="rvt-text-center">
      <span class="rvt-badge rvt-badge--white rvt-m-bottom-md">Features</span>
      <h2 class="rvt-text-bold rvt-ts-26">Focusing on impact</h2>
      <p class="rvt-m-bottom-lg">We’re focused on making IU Mobile support broad, high-impact <br class="hide-md-down" />
        features, that are useful for the largest groups of IU affiliates.</p>
    </div>
    <div class="rvt-grid rvt-m-top-xxl" style="line-height: 0;">
      <div class="rvt-grid__item-4-lg-up rvt-text-center">
        <h3 class="rvt-text-bold">IU Places</h3>
        <img src="/img/feature-placeholder.png" alt="Placeholder of places around IU" />
      </div>

      <div class="rvt-grid__item-4-lg-up rvt-text-center">
        <h3 class="rvt-text-bold">IU Places</h3>
        <img src="/img/feature-placeholder.png" alt="Placeholder of places around IU" />
      </div>

      <div class="rvt-grid__item-4-lg-up rvt-text-center">
        <h3 class="rvt-text-bold">IU Places</h3>
        <img src="/img/feature-placeholder.png" alt="Placeholder of places around IU" />
      </div>
    </div>
  </div>
</section>


<section class="rvt-m-tb-xxl" style="overflow:hidden">
  <div class="rvt-container rvt-container--senior rvt-container--center">
    <div class="rvt-flex">
      <div class="rvt-p-right-xxl">
        <hr role="presentation" class="dash" />
        <h2 class="rvt-text-bold rvt-ts-26">Release <br />milestones</h2>
      </div>

      <div class="rvt-m-top-md rvt-p-left-xxl" style="width: 100%">
        <div class="timeline">
          <div class="timeline__item">
            <div class="timeline__marker timeline__marker--current" aria-hidden="true"></div>
            <h3 class="timeline__date">Early 2020</h3>
          </div>
          <div class="timeline__item">
            <div class="timeline__marker" aria-hidden="true"></div>
            <h3 class="timeline__date">Summer 2020</h3>
          </div>
          <div class="timeline__item">
            <div class="timeline__marker timeline__marker--future" aria-hidden="true"></div>
            <h3 class="timeline__date">Fall 2020</h3>
          </div>
        </div>
        <h3 class="rvt-text-bold rvt-m-top-lg">The beta release</h3>
        <p class="rvt-p-top-xxs rvt-m-top-xxs">The IU Mobile application will be created, maintained, and improved through a <br class="hide-md-down" /> partnership between IU Studios and UITS. The base feature set will be available to <br class="hide-md-down" /> beta testers early 2020. </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="rvt-container rvt-container--senior rvt-container--center">
    <div class="rvt-grid">
      <div class="rvt-grid__item-6-lg-up rvt-p-all-remove" style="line-height: 0;">
        <img src="/img/beta-image.jpg" alt="An iphone showing an example of the A bus route." />
      </div>

      <div class="rvt-grid__item-6-lg-up rvt-bg-lighter-gray rvt-p-lr-xxl rvt-p-top-xxl">
        <hr role="presentation" class="dash" />
        <h2 class="rvt-text-bold rvt-ts-26">Become a beta tester</h2>
        <p class="rvt-m-bottom-lg">Sign up for our beta testing program to get early access and a chance to influence the future of the app. Just enter your email address below, we’ll be in contact as soon as we have an app to share.
        </p>
        <label for="search">Email address</label>
        <div class="rvt-input-group">
          <input class="rvt-input-group__input" type="text" id="search">
          <div class="rvt-input-group__append">
            <button class="rvt-button">Submit</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="rvt-m-top-md">

  <div class="rvt-container rvt-container--senior rvt-container--center">
    <div class="rvt-grid rvt-items-center">
      <div class="rvt-grid__item-6-lg-up rvt-p-right-xxl">
        <hr role="presentation" class="dash" />
        <h2 class="rvt-text-bold rvt-ts-26">Improving the application</h2>
        <p class="rvt-m-bottom-lg">The early focus is making IU Mobile support broad, high-impact features, that are useful for the largest groups of IU affiliates. We’re focused on data about campus and services. We keep a huge list of future feature requests and improvements to the application. Suggest an improvement to add your request to that list.</p>
        <a href="#" class="rvt-button">Suggest a feature</a>
      </div>

      <div class="rvt-grid__item-6-lg-up rvt-text-center">
        <img src="/img/contribution-phone.png" alt="An iphone showing an example of the A bus route." />
      </div>
    </div>
  </div>
</section>
{{ end }}
