{{ define "main" }}
<div class="rvt-bg-right-gray">
  <div class="rvt-container rvt-container--senior rvt-container--center">

    <div class="rvt-grid rvt-items-center rvt-p-left-md">
      <div class="rvt-grid__item-6-lg-up rvt-p-right-xxl">
        <span class="rvt-badge rvt-badge--danger rvt-m-bottom-sm">Beta</span>
        <h1 class="rvt-text-bold rvt-ts-32">A new mobile experience for IU.</h1>
        <p class="rvt-m-bottom-lg">University users expect native mobile applications, not just progressive web apps or responsive web pages.
          We want to do things on our phones that are fully featured, easy to use,&nbsp;and easy to&nbsp;find. We expect these apps in the Apple&nbsp;and
          Google app stores.&nbsp;We&nbsp;are addressing these expectations by replacing the&nbsp;current application named “IU Mobile” with a new application
          cleverly named&nbsp;“IU Mobile.” It will focus on delivering a more holistic experience and deliver unique experiences to users of
          different campuses and&nbsp;affiliation types.</p>
        <div class="rvt-display-flex rvt-m-bottom-lg">
          <a href="#"><img class="market-store-icon" src="/img/badge-example-preferred.png" alt="Download on the app store" /></a>
          <a class="rvt-m-left-sm" href="#"><img class="market-store-icon" src="/img/google-play-badge.png" alt="Get it on google play" /></a>
        </div>
      </div>

      <div class="rvt-grid__item-6-lg-up rvt-bg-light-gray">
        <img src="/img/home-banner.png" alt="An iphone showing an example of the A bus route." class="home-banner-image" />
      </div>
    </div>
  </div>
</div>
{{ end }}
