{{ define "main" }}
  <div class="rvt-container rvt-container--senior">

    <div class="rvt-grid rvt-p-left-md">
      <div class="rvt-grid__item-6-lg-up rvt-m-top-lg">
        <span class="rvt-badge rvt-badge--danger rvt-m-bottom-sm">Beta</span>
        <h1 class="rvt-text-bold rvt-ts-32">A new mobile experience for IU.</h1>
        <p class="rvt-m-bottom-lg">University users expect native mobile applications, not just progressive web apps or responsive web pages. We want to do things on our phones that are fully featured, easy to use, and easy to find. We expect these apps in the Apple and Google app stores. We are addressing these expectations by replacing the current application named “IU Mobile” with a new application cleverly named “IU Mobile.” It will focus on delivering a more holistic experience and deliver unique experiences to users of different campuses and affiliation types.</p>
        <div class="rvt-display-flex rvt-m-bottom-lg">
          <a href="#"><img class="market-store-icon" src="/img/badge-example-preferred.png" alt="Download on the app store" /></a>
          <a class="rvt-m-left-sm" href="#"><img class="market-store-icon" src="/img/google-play-badge.png" alt="Get it on google play" /></a>
        </div>
      </div>

      <div class="rvt-grid__item-6-lg-up rvt-bg-light-gray">

      </div>

    </div>

  </div>
{{ end }}
