{{ define "main" }}
<section class="rvt-bg-right-crimson">
  <div class="rvt-container rvt-container--senior rvt-container--center">
    <div class="rvt-grid rvt-items-center rvt-p-left-md">
      <div class="rvt-grid__item-6-lg-up rvt-p-right-xxl">
        <span class="rvt-badge rvt-badge--info rvt-m-bottom-sm">Contribute</span>
        <h1 class="rvt-text-bold rvt-ts-32 rvt-p-right-xxl-lg-up">A new mobile <br />experience for IU.</h1>
        <p class="rvt-m-bottom-lg rvt-p-right-xxl-lg-up">The early focus is making IU Mobile support broad, high-impact features, that are useful for the largest groups of IU affiliates. We’re focused on data about campus and services. We keep a huge list of future feature requests, visit our feature request form to add your request to that list.</p>
        <form class="rvt-p-right-xxl-lg-up">
          <label for="description">Describe your feature request</label>
          <textarea name="description" id="description" placeholder="What would you like IU Mobile to do? Reference other apps and sites to illustrate."></textarea>

          <label class="rvt-m-top-lg" for="email">Who should we contact with questions about your feature request?</label>
          <input type="text" id="email" name="email" />

          <button class="rvt-m-top-xl rvt-button">Submit</button>
        </form>
      </div>

      <div class="rvt-grid__item-6-lg-up rvt-bg-crimson">
        <img src="/img/home-screen.png" alt="An iphone showing upcoming classes and nearby food courts." />
      </div>
    </div>
  </div>
</section>
{{ end }}
